<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../public/css/styling.css">
	<link rel="stylesheet" href="../public/css/foundation.css">
	<title>TEMP</title>
</head>
<body>
	<div class="title-bar">
        <div class="title-bar-left">
            <div class="grid-x">
                <div class="grid-x">
                    <a class="text" href="https://aep-dynamic-server.onrender.com">Home</a>
                    <a class="text" href="https://aep-dynamic-server.onrender.com/prices/0_10">Prices</a>
                    <a class="text" href="https://aep-dynamic-server.onrender.com/fuels/coal">Fuels</a>
                    <a class="text" href="https://aep-dynamic-server.onrender.com/time/0:00:00">Time</a>
                </div>
            </div>
        </div>
    </div>
	<div class="grid-container">
		<div class="grid-x grid-padding-x">
			<div class="large-12 medium-12 small-12 header">$$DATA_TITLE$$</div>
			<div class="large-12 medium-12 small-12">
				$$DATA_TABLE$$
			</div>
			<div class="large-12 medium-12 small-12">
				<img alt=$$DATA_IMG_ALT$$ src=$$DATA_IMG_SRC$$/>
			</div>

				<div class="large-auto medium-auto small-auto" style="text-align: center;">
					<a href=$$DATA_PREV$$ class="btn"><button type="button" class="text">Prev</button></a>
				</div>
				<div class="large-offset-8 large-auto medium-offset-8 medium-auto small-offset-8 small-auto" style="text-align: center;">
					<a href=$$DATA_NEXT$$ class="btn"><button type="button" class="text">Next</button></a>
				</div>
		</div>
	</div>
</body>
</html>
